<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://g.alicdn.com/dingding/dinglogin/0.0.5/ddLogin.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="login_container"></div>
  </body>
  <script>
    var url = encodeURIComponent('http://localhost:3000/users/')
    var goto = encodeURIComponent('https://oapi.dingtalk.com/connect/oauth2/sns_authorize?appid=dingoyhdlvwbmahbbh4c&response_type=code&scope=snsapi_login&state=STATE&redirect_uri='+url)
    DDLogin({
      id:"login_container",
      goto,
      style: "border:none;background-color:#FFFFFF;",
      width : "365",
      height: "400"
    });
    var handleMessage = function (event) {
      var origin = event.origin;
      console.log("origin", event.origin);
      if( origin == "https://login.dingtalk.com" ) {
        var loginTmpCode = event.data; 
        window.location.replace(`https://oapi.dingtalk.com/connect/oauth2/sns_authorize?appid=dingoyhdlvwbmahbbh4c&response_type=code&scope=snsapi_login&state=STATE&redirect_uri=${url}&loginTmpCode=${loginTmpCode}`);
      }
    };
    if (typeof window.addEventListener != 'undefined') {
      window.addEventListener('message', handleMessage, false);
    } else if (typeof window.attachEvent != 'undefined') {
      window.attachEvent('onmessage', handleMessage);
    }
  </script>
</html>
