<!DOCTYPE html>
<html>
  <head>
    <title>Signout</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="signout">
      <h1 style="color: white;">您已登出</h1>
    </div>
  </body>
</html>
