<!DOCTYPE html>
<html>
  <head>
    <title>DingTalk Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://g.alicdn.com/dingding/dinglogin/0.0.5/ddLogin.js"></script>
  </head>
  <body>
    <h1>DingTalk Login</h1>
    <p>Welcome</p>
    <div id="login_container"></div>
    <form action='/signin' method='post' id='signin'>
      <input type='hidden' id='userName' name='userName' />
      <input type='hidden' name='SAMLRequest' value='<%= SAMLRequest %>' />
    </form>
  </body>
  <script>
    var url = encodeURIComponent('<%= callback %>')
    var goto = encodeURIComponent('https://oapi.dingtalk.com/connect/oauth2/sns_authorize?appid=<%= appKey %>&response_type=code&scope=snsapi_login&state=STATE&redirect_uri='+url)
    DDLogin({
      id:"login_container",
      goto,
      style: "border:none;background-color:#FFFFFF;",
      width : "365",
      height: "400"
    });
    var handleMessage = async function (event) {
      var origin = event.origin;
      if( origin == "https://login.dingtalk.com" ) {
        var loginTmpCode = event.data; 
        const res = await fetch(`/api/dingtalk?d=<%= domain %>&loginTmpCode=${loginTmpCode}`)
        const data = await res.json()
        const username = document.getElementById('userName')
        username.value = data.loginName
        const form = document.getElementById('signin')
        form.submit()
      }
    };
    if (typeof window.addEventListener != 'undefined') {
      window.addEventListener('message', handleMessage, false);
    } else if (typeof window.attachEvent != 'undefined') {
      window.attachEvent('onmessage', handleMessage);
    }
  </script>
</html>
